@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: #3a4750;
    font-family: "Josefin Sans", sans-serif;
}

.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
/* Navbar */
.navbar{
    background-color: #be3144;
    color: #d3d6db;
    padding: 20px 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
}

.navbar-logo-header{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #303841;
    font-size: 26px;
    letter-spacing: 5px;
}
#nav-two{
    color: #d3d6db;
}
.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-links{
    text-decoration: none;
    color: #d3d6db;
}
.nav-items{
    font-size: 26px;
}
.nav-items + .nav-items{
    margin-left: 30px;
}

.nav-links:hover{
    color: #ffffff;
}

/* Header */
.header{
    padding: 20px 0 50px;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 21px;
    color: #303841;
}
.header-title{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    letter-spacing: 5px;

    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 30px;
}
.header-img{
    width: 20%;
    border-radius: 10px;
    border: 2px solid #be3144;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
}
.header-first{
    color: #d3d6db;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.h-pink{
    color: #be3144;
    font-size: 2.5rem;
}
.famous-for{
    color: #bad8b6;
    letter-spacing: 5px;
    text-transform: capitalize;
    
}